{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco Heaven realty</title>

    <!-- <link rel="shortcut icon" type="image/svg" href="{% static 'src/base/logo-icon.svg'%}">-->
    <link rel="stylesheet" href="{% static 'css/style.css'%}" /> 
    <link rel="stylesheet" href="{% static 'css/auth-update.css'%}" /> 
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link rel="stylesheet" href="{% static 'css/homes.css'%}" />
    <link rel="stylesheet" href="{% static 'css/blogs.css'%}" />
    <link rel="stylesheet" href="{% static 'css/home-detail.css'%}" />
    <link rel="stylesheet" href="{% static 'css/blog_detail.css'%}" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">
    <script defer src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script src="{% static 'js/base.js'%}" defer></script>
    <script src="{% static 'js/main.js'%}" defer></script>
    <script src="{% static 'js/auth-update.js'%}" defer></script>
  </head>
  <body>


    <div class="nav-container">
      <div class="logo-container">
        <img src="{% static '/src/logo-icon.svg'%}" alt="svg" />
        <h3 class="company-name">Eco Heaven Realty</h3>
      </div>
      <nav class="nav-buttons">
        <ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>
            <a href="{% url 'company' %}" class="nav-company-btn"
              >Comapny&nbsp;<i class="ri-arrow-down-s-line"></i
              ><i class="ri-arrow-up-s-line"></i
            ></a>
          </li>
          
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="/">ContuctUs</a></li>
        </ul>
      </nav>


      <div class="create-and-login">
        <a href="{% url 'login' %}"><button type="button">Login</button></a>
        <a href="{% url 'signup' %}"
          ><button type="button" id="create-account-btn">
            Create an account
          </button></a
        >
        <a href=""><i class="ri-menu-line" style="display: none"></i></a>
        <a href=""><i class="ri-close-line" style="display: none"></i></a>
      </div>

      {% if request.user.is_authenticated %}
      <a href="" style="display: none"><i class="ri-menu-line"></i></a>
      <a href="" style="display: none"><i class="ri-close-line"></i></a>
      <style>
        .create-and-login {
          display: none;
        }
      </style>
      <div class="user-container">
        <div class="auth-user-nav">
          <li>
            <a href="{% url 'homes' %}"><button type="button">Browse Home</button></a>
          </li>
          {% if request.user.is_staff %}
          <li>
            <a style="display: flex; align-items: center" target="_blank" id="add-homes" href="{%  url 'staff' %}"
              ><img
                style="width: 35px"
                src="{% static '/src/icons/pngegg.png' %}"
                alt=""
            /></a>
          </li>
          {% endif %}
          <div class="dropdown">
            <div class="user" >
              <a style="display: block"
                ><img
                  style="width: 35px; height: auto; padding: 0.1rem"
                  src="{% static '/src/icons/profile.png' %}"
                  alt=""
              /></a>
            </div>
            <div class="user-setting">
              <div class="usersetting-username">
                <p>{{request.user.first_name}}</p>
              </div>

              <a href="{% url 'change_email' %}"
                >Change Email</a
              >
              <hr />
              <a href="{% url 'change_name' %}"
                >Edit Name</a
              >
              <hr />
              <a href="{% url 'change_password' %}"
                >Change Password</a
              >
              <hr />
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>




    <!-- Mobile Menu-->
    <div class="mobile-nav-container"  >
      <div class="logo-container">
          <img src="{% static '/src/logo-icon.svg'%}" alt="svg">
          <h3 class="company-name">Eco Heaven Realty</h3>
      </div>
      <nav class="nav-buttons" id="mobile-menu">
          <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'company' %}" class="nav-company-btn">Comapny&nbsp;<i class="ri-arrow-down-s-line"></i><i class="ri-arrow-up-s-line"></i></a>
              </li>
              <li><a href="{% url 'blog'  %}">Blog</a></li>
              <li><a href="/">ContuctUs</a></li>
          </ul>
          <div class="create-and-login">
              <a href="{% url 'login' %}"><button type="button" >Login</button></a>
              <a href="{% url 'signup' %}"><button type="button" id="create-account-btn">Create an account</button></a>
              <!-- <a href=""><i class="ri-menu-line" style="display: none;"></i></a>
              <a href=""><i class="ri-close-line" style="display: none;"></i></a> -->
          </div>
      </nav>
      <div class="mobile-menu-icon" onclick="displayMobileMenu()">
          <img src="{% static '/src/icons/menu-line.png' %}" alt="">
      </div>

      {% if request.user.is_authenticated %}
      <a href="" style="display: none;"><i class="ri-menu-line"></i></a>
      <a href="" style="display: none;"><i class="ri-close-line"></i></a>
      <style>
            .mobile-nav-container  .create-and-login{
                  display: none;
              }  
      </style>
      <div class="user-container">
          <div class="auth-user-nav">
              <!-- <li> <a href="homes/"><button type="button" >Browse Home</button></a></li> -->
               {% if request.user.is_staff %}
              <li> <a style="display: flex; align-items: center;" target="_blank" id="add-homes" href="{% url 'staff' %}"><img style="width: 35px;" src="{% static '/src/icons/pngegg.png' %}" alt=""></a></li>
               {% endif %}

               <li class="dropdown">
                <div class="user" style="display: flex ; gap: 10px;">
               <a  style="display: block;"><img style="width: 35px; height:auto; padding: 0.1rem; " src="{% static '/src/icons/profile.png' %}" alt=""></a></div>
                  <div class="user-setting">
                   <div class="usersetting-username">
                       <p>{{request.user.first_name}}</p>
                   </div>
                   
                   <a href="{% url 'change_email' %}"
                >Change Email</a
              >
              <hr />
              <a href="{% url 'change_name' %}"
                >Edit Name</a
              >
              <hr />
              <a href="{% url 'change_password' %}"
                >Change Password</a
              >
                   <hr>
                   <a href="{% url 'logout' %}">Logout</a>
               </div>
               </li>
               
           </div>
      </div>
    {% endif %}
  </div>

  <!-- Scroll to top btn -->
  <div class="scroll-to-top-btn" >
    <a class="scroll-btn" href="#"><i class="ri-arrow-up-s-line"></i></a>
</div> 

    <div class="middle-content">{% block content %} {% endblock %}</div>




    <!--footer of the website-->
<footer>
  <div class="footer-wrapper">

      <div class="footer-column-1">
          <ul>
              <li class="footer-logo"><a href=""><img src="{%static '/src/base/logo-icon.svg'%}" alt="">Eco Heaven Realty</a> </li>
                  <div class="social-links">
                       <ul>
                           <li><a href="#"><i class="ri-facebook-circle-fill"></i></a></li>
                          <li><a href="#"><i class="ri-linkedin-box-fill"></i></a></li>
                          <li><a href="#"><i class="ri-twitter-fill"></i></a></li>
                          <li><a href="#"><i class="ri-instagram-fill"></i></a></li>
                      </ul>
                  </div>
              <li class="footer-contact-link"><a  href="#schedule">Contact Us</a></li>
          </ul>
      </div>

          <div class="footer-links">
              <ul>
                  <li class="footer-titles">Navigation</li>
                  <li><a href="{% url 'company' %}">Company</a></li>
                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="#schedule">Contact Us</a></li>
                  <li><a href="{% url 'blog' %}">Blog</a></li>
                  <li><a href="{% url 'homes' %}">Properties</a></li>
              </ul>
          </div>

          <div class="footer-links">
              <ul>
                  <li class="footer-titles">Company</li>
                  <li><a href="{% url 'company' %}">About us</a></li>
                  <li><a href="{% url 'company' %}">Our mission and vision</a></li>
                  <li><a href="{% url 'logout' %}">Our team</a></li>
              </ul>
          </div>

      <div class="footer-links">
              <ul>
                  <li class="footer-titles">Support</li>
                  <li><a href="#schedule">Contact us</a></li>
                  {% if not request.user.is_authenticated %}
                  <li><a href="{% url 'login' %}">Login</a></li>
                  {% endif %}
              </ul>
      </div>

  </body>
</html>
