{% extends 'Eco_app/base.html' %} {% load static %} {% block content %}

<div class="company-container">
  <div class="company-wrapper">
    <h1 class="company-main-title">Eco Heaven Realty</h1>
    <div class="company-image">
      <img src="{% static 'src/images/header-bg.jpg' %}" alt="" />
    </div>
    <h2 class="company-title">About Us</h2>
    <p class="text-description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum sed
      deleniti nobis omnis accusamus ipsa voluptatibus quasi delectus molestiae
      voluptatem accusantium commodi consequuntur nesciunt, similique aliquam
      error repellat? Corporis, exercitationem. Lorem ipsum dolor sit amet
      <br /><br />
      consectetur adipisicing elit. Ipsum maiores explicabo reprehenderit iste
      assumenda ipsa, accusamus unde illum necessitatibus, quibusdam enim vero
      voluptatibus vitae. Omnis vero autem eveniet illo placeat?
    </p>

    <div class="company-misstion-and-vision">
      <h1 class="company-title">Our Mission and Vision</h1>
      <div class="company-under-mv">
        <div class="company-eco-mv">
          <h2>Mission</h2>
          <ul>
            <li>Lorem ipsum dolor sit amet consectetur</li>
            <li>
              modi dolores. Nisi porro iure, cum recusandae vero excepturi
              dolorum mollitia esse eius perspiciatis voluptatem modi!
            </li>
            <li>
              vero excepturi dolorum mollitia esse eius perspiciatis voluptatem
            </li>
            <li>modi dolores. Nisi porro iure, cum rec</li>
            <li>perspiciatis voluptatem modi!</li>
          </ul>
        </div>
        <div class="company-eco-mv">
          <h2>Vision</h2>

          <ul>
            <li>Lorem ipsum dolor sit amet consectetur</li>
            <li>
              modi dolores. Nisi porro iure, cum recusandae vero excepturi
              dolorum mollitia esse eius perspiciatis voluptatem modi!
            </li>
            <li>
              vero excepturi dolorum mollitia esse eius perspiciatis voluptatem
            </li>
            <li>modi dolores. Nisi porro iure, cum rec</li>
            <li>perspiciatis voluptatem modi!</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="comapny-our-team">
      <h1 class="company-title">Our Team</h1>
      <div class="our-team-container">
        <div class="company-our-team-desc">
          <p class="text-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi
            amet molestiae quaerat eveniet voluptas distinctio tenetur aut.
            Dolore quidem eius laborum! Voluptatum ipsam vitae laboriosam
            consequatur vel, nostrum error?
          </p>
          <p class="text-description">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque ut
            ipsam quaerat quasi est perspiciatis, magnam odio officia? Alias
            quasi fugiat ex saepe officiis eaque unde magnam doloremque veniam
            voluptates. Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Quae quisquam qui molestias eveniet, nihil quis nisi non odio
            animi rerum, perspiciatis ad ducimus enim doloremque perferendis
            fugiat autem minima veritatis.
          </p>
        </div>
        <div class="company-our-team-image">
          <img
            src="{% static 'src/images/image-2.png' %}"
            alt="our team image"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
