<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login, Eco Heaven Realty</title>
    <link rel="shortcut icon" type="image/svg" href="/src/logo-icon.svg" />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script src="{% static 'js/auth.js'%}" defer></script>
    <script src="//accounts.google.com/gsi/client" async></script>
    <!-- <script type="module" defer src="script.js"></script> -->
  </head>
  <body>
    <div class="auth-wrapper">
      <div
        class="auth-left-wrapper"
        style="background-image: url('{% static '/src/login-bg-2.jpg' %}')"
      >
        <p>
          Feels Like Home!<br />
          <span>Eco Heaven Realty</span> <br />
        </p>
      </div>

      <div class="auth-right-wrapper">
        <div class="auth-title">
          <p>
            Welcome back<br />
            <span>Login to your account</span>
          </p>
        </div>
        {% for message in messages %}
        <div class="message-{{ message.tags }}">
          <p>
            <img src="{% static 'src/images/icons/alert-fill.png' %}" alt="" />
            {{message}} {{ message.tags }}
          </p>
        </div>
        {% endfor %}
        <form
          action=""
          method="POST"
          id="login-form"
          onsubmit="(event) => {HandleLogin(event)} "
        >
          {% csrf_token %}
          <div class="input-field">
            <label for="emali">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="input"
              placeholder=" Enter Email"
            />
            <p id="errormessage"></p>
          </div>

          <div class="input-field">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="input"
              placeholder="Enter your Password"
            />
            <p id="errormessage"></p>
          </div>

          <div class="form-btn">
            <button type="submit">Log In</button>
            <a
              class="google-auth"
              href="{% url 'social:begin' 'google-oauth2' %}"
            >
              <i class="ri-google-fill"></i> &nbsp;&nbsp;&nbsp;Login with
              Google</a
            >
          </div>
        </form>
        <div class="footing">
          <style>
            .footing a:hover {
              text-decoration: underline;
            }
          </style>
          <p style="text-align: center">
            <a href="/reset-password">Forgot Password?</a>
          </p>
          <p>Don't have an account? <a href="/signup">Join here</a></p>
        </div>
      </div>
    </div>
  </body>
</html>
