<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login, Eco Heaven Realty</title>
    <link rel="shortcut icon" type="image/svg" href="/src/logo-icon.svg" />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script src="{% static 'js/auth.js'%}" defer></script>
    <!-- <script type="module" defer src="script.js"></script> -->
  </head>
  <body>
    <div class="auth-wrapper">
      <div
        class="auth-left-wrapper"
        style="background-image: url('{% static '/src/login-bg-2.jpg' %}')"
      >
        <p>
          Feels Like Home!<br />
          <span>Eco Heaven Realty</span> <br />
        </p>
      </div>

      <div class="auth-right-wrapper">
        <div class="auth-title">
          <p>
            Welcome to Eco Heaven Realty<br />
            <span>Create your account</span>
          </p>
        </div>
        {% for message in messages %}
        <div
          class=""
          style="
            width: 50%;
            height: auto;
            padding: 15px;
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: rgba(241, 102, 102, 0.418);
            border: 1px solid red;
          "
        >
          <p
            style="
              color: rgb(255, 0, 0);
              font-size: 15px;
              font-weight: bold;
              align-items: end;
              display: flex;
              gap: 10px;
            "
          >
            <img src="{% static 'src/images/icons/alert-fill.png' %}" alt="" />
            {{message}}
          </p>
        </div>
        {% endfor %}
        <form
          action=""
          method="POST"
          id="signup-form"
          onsubmit="(event) => HandleSignup(event)"
        >
          {% csrf_token %}

          <div class="flex-inputs">
            <div class="input-field">
              <label for="fname">First name</label>
              <input
                type="text"
                id="fname"
                name="first_name"
                placeholder="Enter First Name"
                class="input"
              />
              <p id="errormessage"></p>
            </div>

            <div class="input-field">
              <label for="lname">Last name</label>
              <input
                type="text"
                id="lname"
                name="last_name"
                placeholder="Enter Last Name"
                class="input"
              />
              <p id="errormessage"></p>
            </div>
          </div>

          <div class="input-field">
            <label for="emali">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder=" Enter Email"
              class="input"
            />
            <p id="errormessage"></p>
          </div>

          <div class="input-field">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter Password"
              class="input"
            />
            <p id="errormessage"></p>
          </div>

          <div class="form-btn">
            <button type="submit">Sign up</button>
          </div>
        </form>

        <div class="footing">
          <a href="/login">Already have an account</a>
        </div>
      </div>
    </div>
  </body>
</html>
