{% extends 'Eco_app/base.html' %} {% load static %} {% block content %}
<div class="auth-update-container">
  <h1>Change your Password</h1>
  <p>
    Notice: Do not forget this password, this will be the oneS you use to login
  </p>

  <form method="POST" id="change-password-form">
    {% csrf_token %}
    <div class="input-field">
      <input
        type="password"
        id="new-password"
        name="new-password"
        placeholder="Enter your new password"
        S
        class="input"
      />
      <p id="errormessage"></p>
    </div>
    <div class="form-btn">
      <button type="submit">Change Password</button>
    </div>
  </form>
</div>
{% endblock %}
