<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login, Eco Heaven Realty</title>
    <link rel="shortcut icon" type="image/svg" href="/src/logo-icon.svg" />
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <script src="{% static 'js/auth.js'%}" defer></script>
    <!-- <script type="module" defer src="script.js"></script> -->
  </head>
  <body>
    <div class="auth-wrapper">
      <div
        class="auth-left-wrapper"
        style="background-image: url('{% static '/src/login-bg-2.jpg' %}')"
      >
        <p>
          Feels Like Home!<br />
          <span>Eco Heaven Realty</span> <br />
          <span>Go Back</span>
        </p>
      </div>

      <div class="auth-right-wrapper">
        <div class="auth-title">
          <p>
            Reset Password Completed<br />
            <span>Your new password is created</span>
          </p>
        </div>
        {% for message in messages %}
        <div class="message-{{ message.tags }}">
          <p>
            <img src="{% static 'src/images/icons/alert-fill.png' %}" alt="" />
            {{message}} {{ message.tags }}
          </p>
        </div>
        {% endfor %}

        <div class="form-btn">
          <a href="/login"><button style="width: 300px">Login</button></a>
        </div>
      </div>
    </div>
  </body>
</html>
