{% extends "Eco_admin/staff.html" %} {% block content %}
<div class="staff-blog-create-container">
  <div class="staff-blog-create-wrapper">
    <h1>Post a Blog</h1>
    <div class="staff-blog-create-form-container">
      <form
        method="POST"
        enctype="multipart/form-data"
        spellcheck="false"
        id="blog-add-form"
      >
        {% csrf_token %}
        <div class="input-field-blog">
          <label for="blog_title">Blog Titie</label>
          <input
            type="text"
            name="blog_title"
            id="blog_title"
            placeholder="Enter title"
            class="input"
          />
        </div>

        <div class="input-field-blog">
          <label for="blog_content">Blog Content</label>
          <textarea
            name="blog_content"
            id="blog_content"
            cols="30"
            rows="10"
            class="input"
          ></textarea>
        </div>

        <div class="input-field-blog">
          <label for="blog_author">Blog Author</label>
          <input
            type="text"
            name="blog_author"
            id="blog_author"
            placeholder="Enter Blog Author"
            class="input"
          />
        </div>

        <div class="show-uploaded-image">
          <img src="" alt="" id="uploaded-image-preview" />
        </div>
        <div class="input-field-home">
          <label
            class="staff-home-add-image-select"
            id="home_image_select"
            for="blog_image"
            >Choose Image</label
          >
          <input
            type="file"
            accept="image/*"
            name="blog_image"
            id="blog_image"
            placeholder="Enter Price"
            onchange=" showUploadedImage(event)"
            hidden
            class="input"
          />
        </div>
        <button type="submit">Post Blog</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
